services:
  streamlit:
    image: streamlit
    restart: on-failure
    # in file '.env'
    # DB_DB=wikidb
    # DB_USER=wikiproj_ro
    # DB_PASSWORD=<YOUR_PASSWORD>
    # DB_HOST=192.168.2.253
    # DB_PORT=15432
    env_file: .env
    volumes:
      - "./app:/app:ro"
    ports:
      - 8501:8501

    #
    # Streamlit Default settings:
    # Use statistics are collected and the program displays warning
    # "Collecting usage statistics. To deactivate, set browser.gatherUsageStats to false."
    #
    # The network debugging function of Firefox (or any other browser)
    # reveals that streamlit is sending data to webhooks.fivetran.com.
    # According to 
    #   https://discuss.streamlit.io/t/why-does-streamlit-send-webhook-requests-to-fivetran-com/87353/2
    # only analytics/telemetry data is sent, but let's switch it off anyhow.
    # If you use config.toml file (has to be placed in home directory of user running it, which is a bit complicated with docker-ized program), the settings are
    # [browser]
    # gatherUsageStats = false

    # But we can also do it on the command line
    command: --browser.gatherUsageStats=False

