services:
  pgdatabase:
    image: postgres:18
    restart: on-failure
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=wikidb
    # postgres parameters determined using pgtune for 4GB of RAM
    command:
      - postgres
      - -c
      - max_connections=100
      - -c
      - shared_buffers=1GB
      - -c
      - effective_cache_size=3GB
      - -c
      - maintenance_work_mem=512MB
      - -c
      - checkpoint_completion_target=0.9
      - -c
      - wal_buffers=16MB
      - -c
      - default_statistics_target=500
      - -c
      - random_page_cost=1.1
      - -c
      - effective_io_concurrency=200
      - -c
      - work_mem=5041kB
      - -c
      - huge_pages=off
      - -c
      - min_wal_size=4GB
      - -c
      - max_wal_size=16GB
      - -c
      - max_worker_processes=4
      - -c
      - max_parallel_workers_per_gather=2
      - -c
      - max_parallel_workers=4
      - -c
      - max_parallel_maintenance_workers=2
    volumes:
      # for postgres:18 according to https://github.com/docker-library/postgres/issues/37#issuecomment-3476426533
      - "/srv/postgres-data-wiki:/var/lib/postgresql"
    ports:
      - "15432:5432"
  pgadmin:
    image: dpage/pgadmin4
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin@admin.com
      - PGADMIN_DEFAULT_PASSWORD=root
    ports:
      - "8080:80"
    
