services:
  pgdatabase:
    image: postgres:18
    restart: on-failure
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=wikidb
    volumes:
      # for postgres:18 according to https://github.com/docker-library/postgres/issues/37#issuecomment-3476426533
      - "./postgres-data:/var/lib/postgresql"
    ports:
      - "15432:5432"
  pgadmin:
    image: dpage/pgadmin4
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin@admin.com
      - PGADMIN_DEFAULT_PASSWORD=root
    ports:
      - "8080:80"
    
